@import '_variables.scss';
@import '_mixins.scss';


// section1 
.section1{
    width: 100%;
    height: auto;
    padding-top: 70px;
    margin-bottom: 60px;
}

.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    &__contentIMG{
        width: 100%;
        margin: $marginTopBottom;
    }

    &__svg{
        width: 100%;
        height: 300px;
    }

    &__contentText{
      width: 100%;
      height: auto;
    }

    &__h1{
        text-align: center;
        font-family: $fuenteText3;
        font-size: 2.2rem;
        color: #333333;
    }

    &__p{
        text-align: center;
        width: 95%;
        height: auto;
        margin: auto;
        font-family: $fuenteText1;
        font-size: 18px;
        font-weight: 500;
       
    }
}
// ---------------------------------------------------
// ---------------------------------------------------


// media querie para dispositivos tablets
@media screen and (min-width:500px){
    .content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;

        &__h1{
            font-size: 2.6rem;
        }

        &__p{
            text-align: center;
            width: 90%;
            height: auto;
            margin: auto;
        }
    }
}

// media querie para dispositivos desktop
@media screen and (min-width:950px){
    .content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;

        &__h1{
            font-size: 3rem;
        }

        &__p{
            width: 80%;
            height: auto;
            margin: auto;
            font-size: 19px;
        }
    }
}